<template>
  <div class="app-container">
    <i class="el-icon-d-arrow-left" /><span class="system-text">营销系统v5.0测试项目</span> <el-button type="primary" icon="el-icon-plus" circle @click="newTask" />
    <div class="filter-container">
      <el-input v-model="listQuery.title" placeholder="任务名" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />

      <el-select v-model="listQuery.importance" placeholder="任务状态" clearable style="width: 200px" class="filter-item">
        <el-option v-for="item in importanceOptions" :key="item" :label="item" :value="item" />
      </el-select>

      <!-- <el-select v-model="listQuery.type" placeholder="任务状态" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>

      <el-select v-model="listQuery.type" placeholder="" clearable class="filter-item" style="width: 130px">
        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />
      </el-select>

      <el-select v-model="listQuery.sort" style="width: 130px" class="filter-item" placeholder="任务" @change="handleFilter">
        <el-option v-for="item in sortOptions" :key="item.key" :label="item.label" :value="item.key" />
      </el-select> -->

      <el-date-picker v-model="displayTime" type="datetime" format="yyyy-MM-dd HH:mm:ss" placeholder="选择执行时间" />

      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" style="margin-left:30px">
        查询
      </el-button>
    </div>
    <el-table :data="list" border fit highlight-current-row style="width: 100%;margin-top:15px">
      <el-table-column
        v-loading="loading"
        align="center"
        label="序号"
        width="80"
        element-loading-text="请给我点时间！"
      >
        <template slot-scope="scope">
          <span>{{ scope.$index+1 }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="200" align="center" label="任务名">
        <template>
          任务名1111
        </template>
      </el-table-column>

      <el-table-column min-width="150" align="center" label="执行日期">
        <template>
          <!-- {{ scope.row.id }} -->
          2020-03-16
        </template>
      </el-table-column>

      <el-table-column min-width="100" align="center" label="用例数">
        <template>
          <!-- {{ scope.row.id }} -->
          70
        </template>
      </el-table-column>

      <el-table-column min-width="100" align="center" label="任务状态">
        <template>
          <!-- {{ scope.row.id }} -->
          {{ taskState }}
        </template>
      </el-table-column>

      <el-table-column min-width="300" align="center" label="#issues">
        <template slot-scope="scope">
          <router-link :to="'/example/edit/'+scope.row.id" class="link-type">
            {{ scope.$index+24 }}
          </router-link>
        </template>
      </el-table-column>

      <el-table-column min-width="300" label="操作" align="center" class-name="small-padding fixed-width">
        <template>
          <el-button size="mini" type="success" @click="execute">
            {{ btn1text }}
          </el-button>
          <el-button size="mini" @click="taskDetail">
            详情
          </el-button>
          <el-button size="mini" type="danger">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchData" />

    <el-dialog :visible.sync="dialogVisible" title="新增任务">
      <el-form :model="role" label-width="150px" label-position="right" style="padding-right:20px">
        <el-form-item label="任务id：">
          <el-input
            v-model="role.description"
            style="width:90%"
            placeholder="12345"
            disabled="false"
          />
        </el-form-item>
        <el-form-item label="任务名：">
          <el-input
            v-model="role.description"
            style="width:90%"
            placeholder="请输入任务名称"
          />
        </el-form-item>
        <el-form-item label="任务描述：">
          <el-input
            v-model="role.description"
            style="width:90%"
            type="textarea"
            rows="3"
          />
        </el-form-item>
        <div style="text-align:center">
          <el-button type="primary" style="margin-right:50px">导入测试用例</el-button>
          <el-button type="primary" style="margin-right:50px">选择测试用例</el-button>
          <el-button type="primary">保存任务信息</el-button>
        </div>
        <el-form-item label="测试用例集合：" style="margin-top:30px">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;margin-right:30px">
        <el-button type="danger" @click="dialogVisible=false">关闭</el-button>
        <el-button type="primary" @click="confirmRole">确定</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialog1Visible" title="营销v5.0第一次回归任务 - 历史执行" custom-class="taskDetailDialogClass">
      <el-table
        :data="tableData"
        stripe
        style="width: 100%"
      >
        <el-table-column
          prop="taskID"
          label="序号"
          width="100"
        />
        <el-table-column
          prop="date"
          label="执行日期"
          width="200"
        />
        <el-table-column
          prop="caseNum"
          label="执行用例数"
          width="150"
        />
        <el-table-column
          prop="issue"
          label="#issues"
          width="250"
        />
        <el-table-column
          prop="taskStatus"
          label="任务状态"
          width="100"
        />
        <el-table-column
          prop="testReport"
          label="测试报告"
          width="200"
        />
      </el-table>

      <br>
      <el-row type="flex" justify="end">
        <!-- 关闭任务按钮 -->
        <el-col :span="4">
          <div>
            <el-button type="primary" class="btnWidth" @click="closeTask">关闭任务</el-button>
          </div>
        </el-col>

        <!-- 删除任务按钮 -->
        <el-col :span="4">
          <div>
            <el-button type="primary" class="btnWidth" @click="deleteTask">删除任务</el-button>
          </div>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import { getList } from '@/api/project'
import Pagination from '@/components/Pagination' // Secondary package based on el-pagination

const defaultRole = {
  key: '',
  name: '',
  description: '',
  routes: []
}

export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  //   props: {
  //     type: {
  //       type: String,
  //       default: 'CN'
  //     }
  //   },
  data() {
    return {
      btn1text: '执行',
      taskState: '已完成',
      dialogVisible: false,
      dialog1Visible: false,
      display_time: undefined, // 前台展示时间
      role: Object.assign({}, defaultRole),
      list: null,
      total: 0,
      listQuery: {
        page: 1,
        limit: 20
      },
      loading: false,
      tableData: [{
        taskID: '1',
        date: '2020-3-25',
        caseNum: '90',
        issue: '无',
        taskStatus: '已完成',
        testReport: '测试报告4.doc'
      }, {
        taskID: '2',
        date: '2020-3-20',
        caseNum: '90',
        issue: '无',
        taskStatus: '已完成',
        testReport: '测试报告3.doc'
      }, {
        taskID: '3',
        date: '2020-3-15',
        caseNum: '90',
        issue: '无',
        taskStatus: '已完成',
        testReport: '测试报告2.doc'
      }, {
        taskID: '4',
        date: '2020-3-05',
        caseNum: '90',
        issue: '无',
        taskStatus: '已完成',
        testReport: '测试报告1.doc'
      }]

    }
  },
  computed: {
    displayTime: {
      // set and get is useful when the data
      // returned by the back end api is different from the front end
      // back end return => "2013-06-25 06:59:25"
      // front end need timestamp => 1372114765000
      get() {
        return (+new Date(this.display_time))
      },
      set(val) {
        this.display_time = new Date(val)
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.loading = true
      this.$emit('create') // for test
      getList(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        this.loading = false
      })
    },
    newTask() {
      this.dialogVisible = true
    },
    taskDetail() {
      this.dialog1Visible = true
    },
    confirmRole() {

    },
    execute() {
      this.btn1text = '查看进度'
      this.taskState = '进行中'
      this.$router.push({ path: '/task/taskExe' })
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-container {
  margin-bottom: 20px;
  margin-top:20px;
}

.system-text{
    margin: 20px;
    // margin-right:20px;
    // margin-top: 20px;
    // margin-left: 20px;
    font: bold 20px "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;;
    color: rgb(105, 102, 102);
    text-transform: uppercase;
  }

  .permission-tree {
    height: 200px;
    width: 90%;
    border:1px solid rgb(214, 214, 214);
    border-radius: 4px;
  }

</style>

