<template>
  <div class="app-container">
    <el-row type="flex" justify="space-around">
      <!-- 测试用例列表 -->
      <el-col :span="5">
        <div class="caseList">
          <el-table
            :data="tableData"
            stripe
          >
            <el-table-column
              prop="caseList"
              label="测试用例列表"
              min-width="150"
            />
            <el-table-column
              prop="state"
              min-width="80"
            />
          </el-table>
        </div>
      </el-col>

      <el-col :span="16">
        <!-- 进度条 -->
        <p>任务执行总进度：</p>
        <el-progress :text-inside="true" :stroke-width="24" :percentage="40" status="success" style="margin-bottom:50px" />

        <div style="text-align:center">
          <el-button type="primary" @click="detailedInfo">详细信息</el-button>
          <el-button type="primary" style="margin-left:250px" @click="viewTestReport">查看测试报告</el-button>
        </div>

      </el-col>
    </el-row>

    <el-dialog :visible.sync="dialogVisible" title="任务详细信息">
      <el-table
        :data="tableData2"
        border
        stripe
        style="width: 100%"
      >
        <el-table-column
          prop="testCase"
          label="测试用例"
          width="175"
        />
        <el-table-column
          prop="time"
          label="执行时间"
          width="175"
        />
        <el-table-column
          prop="result"
          label="执行结果"
          width="175"
        />
        <el-table-column
          prop="info"
          label="监控信息"
        >
          <template>
            <el-button type="text" @click="monitorView">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>

    <el-dialog :visible.sync="dialog2Visible" title="测试用例1 - 监控信息">
      <div style="padding:15px;padding-top:0">
        <!-- 前端信息 -->
        <el-row style="margin-bottom:20px">
          <!-- 前端信息（左） -->
          <el-col :span="16">
            <div>
              <fieldset class="frontInfo">
                <legend>前端信息</legend>
                TimeLine
              </fieldset>
            </div>
          </el-col>
          <!-- 前端信息（右） -->
          <el-col :span="8">
            <div>
              <fieldset class="frontInfo1">
                <legend>前端信息</legend>
                <p>http1 后端执行链 测试依赖</p>
                <p>http2 后端执行链 测试依赖</p>
                <p>http3 后端执行链 测试依赖</p>
              </fieldset>
            </div>
          </el-col>
        </el-row>

        <!-- 后端信息 -->
        <div>
          <fieldset class="backInfo">
            <legend>后端信息</legend>

          </fieldset>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import path from 'path'
import { deepClone } from '@/utils'

const defaultRole = {
  key: '',
  name: '',
  description: '',
  routes: []
}

export default {
  data() {
    return {
      role: Object.assign({}, defaultRole),
      routes: [],
      rolesList: [],
      dialogVisible: false,
      dialog2Visible: false,
      dialogType: 'new',
      checkStrictly: false,
      defaultProps: {
        children: 'children',
        label: 'title'
      },
      tableData: [{
        caseList: '测试用例1',
        state: '成功'
      }, {
        caseList: '测试用例2',
        state: '成功'
      }, {
        caseList: '测试用例3',
        state: '进行中'
      }, {
        caseList: '测试用例4',
        state: '未开始'
      }, {
        caseList: '测试用例1',
        state: '未开始'
      }, {
        caseList: '测试用例2',
        state: '未开始'
      }, {
        caseList: '测试用例3',
        state: '未开始'
      }, {
        caseList: '测试用例4',
        state: '未开始'
      }, {
        caseList: '测试用例1',
        state: '未开始'
      }, {
        caseList: '测试用例2',
        state: '未开始'
      }, {
        caseList: '测试用例3',
        state: '未开始'
      }],

      tableData2: [{
        testCase: '测试用例1',
        time: '100s',
        result: '成功'
      }, {
        testCase: '测试用例2',
        time: '200s',
        result: '成功'

      }, {
        testCase: '测试用例3',
        time: '400s',
        result: '失败'

      }, {
        testCase: '测试用例4',
        time: '100s',
        result: '失败'

      }, {
        testCase: '测试用例5',
        time: '',
        result: '成功'

      }, {
        testCase: '测试用例6',
        time: '',
        result: ''

      }]
    }
  },
  computed: {
    routesData() {
      return this.routes
    }
  },
  created() {
    // Mock: get all routes and roles list from server
    this.getRoutes()
    this.getRoles()
  },
  methods: {

    detailedInfo() {
      this.dialogVisible = true
    },

    monitorView() {
      this.dialog2Visible = true
    },

    // Reshape the routes structure so that it looks the same as the sidebar
    generateRoutes(routes, basePath = '/') {
      const res = []

      for (let route of routes) {
        // skip some route
        if (route.hidden) { continue }

        const onlyOneShowingChild = this.onlyOneShowingChild(route.children, route)

        if (route.children && onlyOneShowingChild && !route.alwaysShow) {
          route = onlyOneShowingChild
        }

        const data = {
          path: path.resolve(basePath, route.path),
          title: route.meta && route.meta.title

        }

        // recursive child routes
        if (route.children) {
          data.children = this.generateRoutes(route.children, data.path)
        }
        res.push(data)
      }
      return res
    },
    generateArr(routes) {
      let data = []
      routes.forEach(route => {
        data.push(route)
        if (route.children) {
          const temp = this.generateArr(route.children)
          if (temp.length > 0) {
            data = [...data, ...temp]
          }
        }
      })
      return data
    },
    handleAddVersion() {
      this.role = Object.assign({}, defaultRole)
      if (this.$refs.tree) {
        this.$refs.tree.setCheckedNodes([])
      }
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    handleEdit(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checkStrictly = true
      this.role = deepClone(scope.row)
      this.$nextTick(() => {
        const routes = this.generateRoutes(this.role.routes)
        this.$refs.tree.setCheckedNodes(this.generateArr(routes))
        // set checked state of a node not affects its father and child nodes
        this.checkStrictly = false
      })
    },
    handleAddNode(scope) {
      this.dialog2Visible = true
    },
    generateTree(routes, basePath = '/', checkedKeys) {
      const res = []

      for (const route of routes) {
        const routePath = path.resolve(basePath, route.path)

        // recursive child routes
        if (route.children) {
          route.children = this.generateTree(route.children, routePath, checkedKeys)
        }

        if (checkedKeys.includes(routePath) || (route.children && route.children.length >= 1)) {
          res.push(route)
        }
      }
      return res
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null
      const showingChildren = children.filter(item => !item.hidden)

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0]
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path)
        return onlyOneChild
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ... parent, path: '', noShowingChildren: true }
        return onlyOneChild
      }

      return false
    }
  }

}
</script>

<style lang="scss" scoped>
.app-container{
    padding: 20px;
    padding-top:40px
}

.btnCss{
    width: 155px;
}

.caseList {
    border: 1px solid rgb(214, 214, 214);
    width: 100%;
    height: 600px;
    overflow: auto;
}

.frontInfo{
    text-align: left;
    border: 1px solid rgb(160, 159, 159);
    height: 200px;
    width: 90%;
}

.frontInfo1{
    text-align: left;
    border: 1px solid rgb(160, 159, 159);
    height: 200px;
}

.backInfo{
    text-align: left;
    border: 1px solid rgb(160, 159, 159);
    height: 200px;
}

</style>
