<template>
  <el-dialog :visible.sync="dialogVisible" title="新增任务">
    <el-form :model="role" label-width="150px" label-position="right" style="padding-right:20px">
      <el-form-item label="任务id：">
        <el-input
          v-model="role.description"
          style="width:90%"
          placeholder="12345"
          disabled="false"
        />
      </el-form-item>
      <el-form-item label="任务名：">
        <el-input
          v-model="role.description"
          style="width:90%"
          placeholder="请输入任务名称"
        />
      </el-form-item>
      <el-form-item label="任务描述：">
        <el-input
          v-model="role.description"
          style="width:90%"
          type="textarea"
          rows="3"
        />
      </el-form-item>
      <div style="text-align:center">
        <el-button type="primary" style="margin-right:50px">导入测试用例</el-button>
        <el-button type="primary" style="margin-right:50px">选择测试用例</el-button>
        <el-button type="primary">保存任务信息</el-button>
      </div>
      <el-form-item label="测试用例集合：" style="margin-top:30px">
        <el-tree
          ref="tree"
          :check-strictly="checkStrictly"
          :data="routesData"
          :props="defaultProps"
          show-checkbox
          node-key="path"
          class="permission-tree"
        />
      </el-form-item>
    </el-form>
    <div style="text-align:right;margin-right:30px">
      <el-button type="danger" @click="dialogVisible=false">关闭</el-button>
      <el-button type="primary">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
const defaultRole = {
  key: '',
  name: '',
  description: '',
  routes: []
}
export default {
  data() {
    return {
      dialogVisible: false,
      role: Object.assign({}, defaultRole)
    }
  }
}
</script>
