<template>
  <!-- 质量报告-分项页面 -->
  <div id="QualityRepItem">
    <h2>质量报告--分项</h2>
    <hr>
    <br>
    <!-- Functional Suitability -->
    <el-row>
      <el-col :span="24">
        <div class="textDiv">
          <el-select v-model="selectValue" placeholder="请选择" style="width:40%">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div></el-col>
    </el-row>

    <!-- 总体评价 -->
    <el-row>
      <el-col :span="4"><div class="textDiv">总体评价：</div></el-col>
      <el-col :span="5">
        <div><el-rate v-model="value" /></div>
      </el-col>
    </el-row>

    <!-- 排位 -->
    <el-row>
      <el-col :span="4"><div class="textDiv">排位： {{ paiwei }}</div>
      </el-col>
    </el-row>

    <!-- 主观评价 -->
    <el-row>
      <el-col :span="4"><div class="textDiv">主观评价：</div></el-col>
      <el-col :span="20">
        <div class="picDiv">
          <el-input
            v-model="textarea"
            type="textarea"
            autosize
            :disabled="true"
          />
        </div>
      </el-col>
    </el-row>

    <el-row type="flex" justify="space-between">
      <!-- 解析 -->
      <el-col :span="3"><div class="textDiv">解析：</div></el-col>
      <el-col :span="8">
        <div class="picDiv">
          <!-- <img src="../../assets/pic1.png"> -->
          <div style="height: 200px; width: 200px;text-align:center" />
          当前版本
        </div>
      </el-col>

      <!-- 趋势 -->
      <el-col :span="3"><div class="textDiv">趋势：</div></el-col>
      <el-col :span="8">
        <div class="picDiv">
          <div style="height: 200px; width: 200px;text-align:center" />
          <!-- <img src="../../assets/pic2.png"> -->
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: null,
      paiwei: '4/90',
      colors: ['#99A9BF', '#F7BA2A', '#FF9900'], // 等同于 { 2: '#99A9BF', 4: { value: '#F7BA2A', excluded: true }, 5: '#FF9900' },
      textarea: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      options: [{
        value: '选项1',
        label: 'Functional Suitability'
      }, {
        value: '选项2',
        label: 'Functional completeness'
      }, {
        value: '选项3',
        label: 'Functional correctness'
      }, {
        value: '选项4',
        label: 'Performance efficiency'
      }, {
        value: '选项5',
        label: 'Time- behavior'
      }],
      selectValue: '选项1'
    }
  }
}
</script>

<style>
#QualityRepItem {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

.textDiv{
  text-align: left;
  padding-left: 20px;

}

.picDiv{
  padding-right: 20px;
}

</style>
