<template>
  <div id="app">
    <div class="linkCss">
          <router-link to="/1_Login"><p>1、用户登录</p></router-link>
          <router-link to="/2_NewUser"><p>2、新建用户</p></router-link>
          <router-link to="/3_NewProject"><p>3、新建项目</p></router-link>
          <router-link to="/4_NewProVersion"><p>4、添加项目新版本</p></router-link>
          <router-link to="/5_TestServer"><p>5、配置测试服务器</p></router-link>
          <router-link to="/6_ProjectList"><p>6、项目列表</p></router-link>
          <router-link to="/7_ProNameVer"><p>7、测试项目名+版本</p></router-link>
          <router-link to="/8_TaskExecution"><p>8、任务历史执行</p></router-link>
          <router-link to="/9_NewTask"><p>9、新建任务</p></router-link>
          <router-link to="/10_PerformTest"><p>10、执行测试任务</p></router-link>
          <router-link to="/11_ViewTask"><p>11、查看任务</p></router-link>
          <router-link to="/12_MonitorInfo"><p>12、监控信息</p></router-link>
          <router-link to="/13_ProblemAnalysis"><p>13、测试问题分析</p></router-link>
          <router-link to="/14_QualityManage"><p>14、质量数据管理</p></router-link>
          <router-link to="/15_QualityDataConf"><p>15、质量数据配置项</p></router-link>
          <router-link to="/16_QualityRepConf"><p>16、质量报告配置</p></router-link>
          <router-link to="/17_QualityRepCompre"><p>17、质量报告-综合</p></router-link>
          <router-link to="/18_QualityRepItem"><p>18、质量报告-分项</p></router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 40px;
}

.linkCss{
  padding-left: 20px;
}


</style>
