<template>
<!-- 执行测试任务页面 -->
  <div id="PerformTest">
    <h2>执行测试任务</h2>
    <hr>
    <br>
    <el-row type="flex" justify="space-around">
      <!-- 测试用例列表 -->
      <el-col :span="8">
          <div class="caseList">
             <p>测试用例1</p>
             <p>测试用例2</p>
             <p>测试用例3</p>
             <p>测试用例4</p> 
          </div>
     </el-col>

     <el-col :span="16" class="progress">
         <!-- 进度条 -->
         <el-row> 
             <el-progress :text-inside="true" :stroke-width="24" :percentage="70" status="success"></el-progress>
         </el-row>
         <el-row>
            <!-- 详细信息按钮 -->
            <el-col :span="12">
              <div>
                <el-button type="primary" @click="detailedInfo">详细信息</el-button>
              </div>
            </el-col>
            
            <!-- 查看测试报告按钮 -->
            <el-col :span="12">
              <div>
                <el-button type="primary" @click="viewTestReport">查看测试报告</el-button>
              </div>
            </el-col>
         </el-row>
     </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
      }
  },
  methods: {
    detailedInfo(){

    },
    viewTestReport(){
      
    }
  } 
}
</script>

<style>
#PerformTest {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

.alignLeft{
    text-align: left;
}

.caseList{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    height: 400px;
}

.progress{
    padding-left: 20px;
    padding-right: 20px;  
}
  
</style>
