<template>
<!-- 查看任务页面 -->
  <div id="ViewTask">
    <h2>查看任务</h2>
    <hr>
    <br>
    <!-- 任务表格 -->
    <el-table
        :data="tableData"
        border
        stripe
        style="width: 100%">
        <el-table-column
            prop="testCase"
            label="测试用例"
            width="175">
        </el-table-column>
        <el-table-column
            prop="time"
            label="执行时间"
            width="175">
        </el-table-column>
        <el-table-column
            prop="result"
            label="执行结果"
            width="175">
        </el-table-column>
        <el-table-column
            prop="info"
            label="监控信息">
        </el-table-column>   
    </el-table>  
  </div>
</template>

<script>
export default {
  data() {
    return {
        tableData: [{
          testCase: '测试用例1',
          time: '100s',
          result: '10 成功，0 失败',
          info: '--'
        }, {
          testCase: '测试用例2',
          time: '200s',
          result: '20 成功，0 失败',
          info: '--'
        }, {
          testCase: '测试用例3',
          time: '400s',
          result: '10 成功，10 失败',
          info: '--'
        }, {
          testCase: '测试用例4',
          time: '100s',
          result: '10 成功，0 失败',
          info: '--'
        },{
          testCase: '测试用例5',
          time: '',
          result: '',
          info: ''
        },{
          testCase: '测试用例6',
          time: '',
          result: '',
          info: ''
        }]
      }
  } 
}
</script>

<style>
#ViewTask {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

</style>
