<template>
<!-- 监控信息页面 -->
  <div id="MonitorInfo">
    <h2>监控信息</h2>
    <hr>
    <br>
    
    <!-- 前端信息 -->
    <el-row>
        <!-- 前端信息（左） -->
        <el-col :span="16">
            <div>
                <fieldset class="frontInfo">
                    <legend>前端信息</legend>
                    TimeLine
                </fieldset>
            </div>
        </el-col>
        <!-- 前端信息（右） -->
        <el-col :span="8">
            <div>
                <fieldset class="frontInfo1">
                    <legend>前端信息</legend>
                    <p>http1 后端执行链 测试依赖</p>
                    <p>http2 后端执行链 测试依赖</p>
                    <p>http3 后端执行链 测试依赖</p>
                </fieldset>
            </div>
        </el-col>
    </el-row>

    <!-- 后端信息 -->
    <div>
        <fieldset class="backInfo">
            <legend>后端信息</legend>
                
        </fieldset>
    </div>   
  </div>
</template>

<script>
export default {
  data() {
    return {
      
      }
  } 
}
</script>

<style>
#MonitorInfo {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

.frontInfo{
    text-align: left;
    border: 1px solid rgb(160, 159, 159);
    height: 200px;
    width: 400px;
}

.frontInfo1{
    text-align: left;
    border: 1px solid rgb(160, 159, 159);
    height: 200px;
}

.backInfo{
    text-align: left;
    border: 1px solid rgb(160, 159, 159);
    height: 200px;   
}

</style>
