<template>
<!-- 测试问题分析页面 -->
  <div id="ProblemAnalysis">
    <h2>测试问题分析</h2>
    <hr>
    <br>
    <el-row type="flex" justify="space-between">
        <!-- 项目名  -->
        <el-col :span="4">
            <div>
                <el-select v-model="value1" placeholder="项目名">
                    <el-option
                        v-for="item in options1"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </el-col>

        <!-- 版本号 -->
        <el-col :span="4">
            <div>
                <el-select v-model="value2" placeholder="版本号">
                    <el-option
                        v-for="item in options2"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </el-col>

        <!-- 性能瓶颈分析按钮 -->
        <el-col :span="5">
            <div>
                <el-button type="primary"  class="proVerBtn" @click="bottleneckAnalysis">性能瓶颈分析</el-button>
            </div>
        </el-col>        

        <!-- 功能异常分析按钮 -->
        <el-col :span="5">
            <div>
                <el-button type="primary" class="proVerBtn" @click="anomalyAnalysis">功能异常分析</el-button>
            </div>
        </el-col>       
    </el-row>

    <!-- 显示框 -->
    <el-tabs type="border-card" class="analysis">
        <el-tab-pane label="性能瓶颈分析">
            <el-progress :text-inside="true" :stroke-width="26" :percentage="70" status="success"></el-progress>
            <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
            <p>xxxxxxxxxxxxxxxxxxxxxxxx</p>
        </el-tab-pane>
        <el-tab-pane label="功能异常分析">功能异常分析</el-tab-pane>
    </el-tabs>  
  </div>
</template>

<script>
export default {
  data() {
    return {
        options1: [{
          value: '选项1',
          label: '项目1'
        }, {
          value: '选项2',
          label: '项目2'
        }, {
          value: '选项3',
          label: '项目3'
        }, {
          value: '选项4',
          label: '项目4'
        }, {
          value: '选项5',
          label: '项目5'
        }],

        options2: [{
          value: '选项1',
          label: 'v5.0'
        }, {
          value: '选项2',
          label: 'v5.1'
        }, {
          value: '选项3',
          label: 'v5.2'
        }, {
          value: '选项4',
          label: 'v6.0'
        }, {
          value: '选项5',
          label: 'v6.1'
        }],

        value1: '',
        value2: ''
      
      }
  },
  methods: {
    bottleneckAnalysis(){

    },
    anomalyAnalysis(){
      
    }
  }
}
</script>

<style>
#ProblemAnalysis {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

.proVerBtn{
    width: 145.82px;
}

.analysis{
    text-align: left;
    height: 400px;
}

</style>
