<template>
<!-- 质量数据管理页面 -->
  <div id="QualityManage">
    <h2>质量数据管理</h2>
    <hr>
    <br>
    <!-- 质量数据管理框 -->
    <div class="treeCss">
      <el-tree
        :data="data"
        node-key="id"
        default-expand-all
        :expand-on-click-node="false">
        <span class="custom-tree-node" slot-scope="{ node, data }">
          <span>{{ node.label }}</span>
          <span>
            <el-button
              type="text"
              size="mini"
              icon="el-icon-circle-plus-outline"
              @click="() => append(data)">
              NEW
            </el-button>
            <el-button
              type="text"
              size="mini"
              icon="el-icon-remove"
              @click="() => remove(node, data)">
              Del
            </el-button>
          </span>
        </span>
      </el-tree>
    </div>

    <el-row type="flex" justify="space-around">
      <!-- 配置质量数据按钮 -->
      <el-col :span="5">
          <el-button type="primary" @click="qualityDataConf">配置质量数据</el-button>
      </el-col>

      <!-- 质量报告配置按钮  -->
      <el-col :span="5">
          <el-button type="primary" @click="qualityRepConf">质量报告配置</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  let id = 1000;

  export default {
    data() {
      const data = [{
        id: 1,
        label: '质量数据管理',
        children: [{
          id: 2,
          label: 'Functional Suitability',
          children: [{
            id: 5,
            label: 'Functional completeness'
          }, {
            id: 6,
            label: 'Functional correctness'
          }]
        },{
          id: 3,
          label: 'Performance efficiency',
          children: [{
            id: 7,
            label: 'Time- behavior'
          },{
            id: 8,
            label: 'Resource utilization'
          }]
        },{
          id: 4,
          label: 'Maintainability'
        }]
      }];
      return {
        data: JSON.parse(JSON.stringify(data)),
        data: JSON.parse(JSON.stringify(data))
      }
    },

    methods: {
      append(data) {
        const newChild = { id: id++, label: 'testtest', children: [] };
        if (!data.children) {
          this.$set(data, 'children', []);
        }
        data.children.push(newChild);
      },

      remove(node, data) {
        const parent = node.parent;
        const children = parent.data.children || parent.data;
        const index = children.findIndex(d => d.id === data.id);
        children.splice(index, 1);
      },

      qualityDataConf(){
        this.$router.push({path: '/15_QualityDataConf'})
      },

      qualityRepConf(){
        this.$router.push({path: '/16_QualityRepConf'})
      }
    }
  };
</script>

<style>
#QualityManage {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px; 
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

.treeCss{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    height: 400px; 
    padding: 20px;
    margin-bottom: 20px;
}

</style>
