<template>
<!-- 质量数据配置项页面 -->
  <div id="QualityDataConf">
    <h2>质量数据配置项</h2>
    <hr>
    <br>
    <!-- Functional completness  -->
    <el-row>
        <el-col :span="8">
            Functional completeness
        </el-col>
        <el-col :span="5">
            <el-switch
                v-model="switchValue"
                active-color="#13ce66"
                inactive-color="#ff4949">
            </el-switch>
        </el-col>
    </el-row>
    
    <div class="contentDiv">
        <!-- 度量项含义 -->
        <el-row type="flex" justify="space-between">
            <el-col :span="4"><div class="text">度量项含义</div></el-col>
            <el-col :span="20"><div><el-input v-model="dlxhy" placeholder="默认"></el-input></div></el-col>
        </el-row>
        
        <!-- 数据源 -->
        <el-row>
            <el-col :span="4"><div class="text">数据源</div></el-col>
            <el-col :span="20"><div><el-input v-model="dataSource"></el-input></div></el-col>
        </el-row>

        <!-- 数据格式 -->
        <el-row>
            <el-col :span="4"><div class="text">数据格式</div></el-col>
            <el-col :span="20">
                <div>
                    <el-select v-model="value" placeholder="请选择" class="selectCss">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </el-col>
        </el-row>
        
        <!-- 计算脚本 -->
        <el-row>
            <el-col :span="4"><div class="text">计算脚本</div></el-col>
            <el-col :span="20"><div><el-input v-model="calcuScript" placeholder="默认(处理数据源数据)"></el-input></div></el-col>
        </el-row>

        <!-- 手工录入 -->
        <el-row>
            <el-col :span="4"><div class="text">手工录入</div></el-col>
            <el-col :span="20"><div><el-input v-model="manualEnter"></el-input></div></el-col>
        </el-row>
    </div>

    <div>   
        <el-row type="flex" justify="space-around">
            <!-- 验证按钮 -->
            <el-col :span="5">
                <el-button type="primary" @click="verify">验证</el-button>
            </el-col>
        
            <!-- 保存按钮 -->
            <el-col :span="5">
                <el-button type="primary" @click="saveConf">保存</el-button>
            </el-col>
        </el-row>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
         switchValue: '',
         dlxhy: '',
         dataSource: '',
         calcuScript: '',
         manualEnter: '',
         options: [{
          value: '选项1',
          label: 'Json'
        }, {
          value: '选项2',
          label: 'xml'
        }, {
          value: '选项3',
          label: 'xxx'
        }, {
          value: '选项4',
          label: 'xxx'
        }, {
          value: '选项5',
          label: 'xxx'
        }],
         value: '选项1'

      }
    },
    methods: {
      verify(){

      },

      saveConf(){
        
      }
    }
  };
</script>

<style>
#QualityDataConf {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
    margin-bottom: 30px;
}

.el-col {
    border-radius: 4px;
}

.text{
  text-align: left;
  height: 40px;
  line-height: 40px;
}

.contentDiv{
  border: 1px solid rgb(207, 207, 207);
  border-radius: 4px;
  padding:20px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.selectCss{
  width: 548.33px;
}

</style>
