<template>
<!-- 质量报告配置页面 -->
  <div id="QualityRepConf">
    <h2>质量报告配置</h2>
    <hr>
    <br>
    <!-- 客观数据 -->
    <el-row>
        <el-col :span="4">
            <div>客观数据</div>
        </el-col>

        <el-col :span="20">
            <div class="datatDiv">
                <el-tree
                  :data="data"
                  show-checkbox
                  node-key="id"
                  default-expand-all
                  :expand-on-click-node="false">
                  <span slot-scope="{ node }">
                  <span>{{ node.label }}</span>
                  <span>w.____</span>
                  </span>
                </el-tree>
            </div>
        </el-col>
    </el-row>

    <!-- 主观评价 -->
    <el-row>
        <el-col :span="4">
            <div>主观评价</div>
        </el-col>

        <el-col :span="20">
            <div class="">
                <el-input
                    type="textarea"
                    :rows="6"
                    placeholder="请输入内容"
                    v-model="textarea">
                </el-input>
            </div>
        </el-col>
    </el-row>
    
    
    <div>   
        <el-row type="flex" justify="space-around">
            <!-- 生成Web页面按钮 -->
            <el-col :span="5">
                <el-button type="primary" @click="generateWeb">生成Web页面</el-button>
            </el-col>
        
            <!-- 生成PDF按钮 -->
            <el-col :span="5">
                <el-button type="primary" @click="generatePDF">生成PDF</el-button>
            </el-col>
        </el-row>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      const data = [{
        id: 1,
        label: 'Functional Suitability',
        children: [{
          id: 4,
          label: 'Functional completeness',
        },{
          id: 5,
          label: 'Functional correctness',
        }]
      }, {
        id: 2,
        label: 'Performance efficiency',
        children: [{
          id: 6,
          label: 'Time- behavior'
        }, {
          id: 7,
          label: 'Resource utilization'
        }]
      }, {
        id: 3,
        label: 'Maintainability',
      }];
      return {
        data: JSON.parse(JSON.stringify(data)),
        data: JSON.parse(JSON.stringify(data)),
        textarea: ''
      }
    },
    methods: {
      generateWeb(){

      },
      generatePDF(){
        
      }
    }
  };
</script>

<style>
#QualityRepConf {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
}

.el-row {
  margin-bottom: 30px;
}

.el-col {
  border-radius: 4px;
}

.datatDiv{
  border: 1px solid rgb(219, 216, 216);
  border-radius: 4px;
  padding: 20px;  
}

</style>
