<template>
<!-- 登录页面 -->
  <div id="Login">
    <h2>用户登录</h2>
    <hr>
    <br>
    <!-- 用户名 -->
    <el-row>
      <el-col :span="6"><div class="text">用户名：</div></el-col>
      <el-col :span="18"><div><el-input v-model="username" placeholder="@gmail.com"></el-input></div></el-col>
    </el-row>
    
    <!-- 密码 -->
    <el-row>
      <el-col :span="6"><div class="text">密码：</div></el-col>
      <el-col :span="18"><div><el-input type="password" v-model="password"></el-input></div></el-col>
    </el-row>
    
    <!-- 角色 -->
    <el-row>
      <el-col :span="6"><div class="text">角色：</div></el-col>
      <el-col :span="18">
        <div>
          <el-select class="select" v-model="value" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
      </el-col>
    </el-row>
    
    <br>
    <!-- 登录按钮 -->
    <div>
      <el-button type="primary" @click="login">登 录</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: '',
      options: [{
          value: '选项1',
          label: '项目管理员'
        }, {
          value: '选项2',
          label: '系统管理员'
        },{
          value: '选项3',
          label: '测试员'
        }],
        value: '选项1'
      }
  },
  methods: {
    login(){
      
    }
  }
}
</script>

<style>
#Login {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;  
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.text{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.select{
  width: 300px;
}

</style>
