<template>
<!-- 新建项目页面 -->
  <div id="NewProject">
    <h2>新建项目</h2>
    <hr>
    <br>
    <!-- 测试项目名 -->
    <el-row>
      <el-col :span="6"><div class="text">测试项目名：</div></el-col>
      <el-col :span="18"><div><el-input v-model="username"></el-input></div></el-col>
    </el-row>
    
    <!-- 项目版本 -->
    <el-row>
      <el-col :span="6"><div class="text">项目版本：</div></el-col>
      <el-col :span="18"><div><el-input v-model="edition"></el-input></div></el-col>
    </el-row>

    <!-- 项目简介 -->
    <el-row>
      <el-col :span="6"><div style="text-align:center">项目简介：</div></el-col>
      <el-col :span="18">
          <div>
              <el-input
                type="textarea"
                :rows="4"
                placeholder="请输入内容"
                v-model="textarea1">
              </el-input>
         </div>
      </el-col>
    </el-row>

    <!-- 测试用例库地址 -->
    <el-row>
      <el-col :span="6"><div class="text">测试用例库地址：</div></el-col>
      <el-col :span="18"><div><el-input v-model="address" placeholder=".git"></el-input></div></el-col>
    </el-row>

    <!-- 系统war包 -->
    <el-row>
      <el-col :span="6"><div class="text">系统war包：</div></el-col>
      <el-col :span="18"><div><el-input v-model="warPkg" placeholder=".war"></el-input></div></el-col>
    </el-row>

    <!-- 项目部署列表 -->
    <el-row>
      <el-col :span="6"><div style="text-align:center">项目部署列表：</div></el-col>
      <el-col :span="18">
          <div>
              <el-input
                type="textarea"
                :rows="6"
                v-model="textarea2">
              </el-input>
         </div>
      </el-col>
    </el-row>
    
    <br>
    <!-- 提交按钮 -->
    <div>
      <el-button type="primary" @click="projectSubmit">提 交</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      edition: '',
      textarea1: '',
      address: '',
      warPkg: '',
      textarea2: '',
      }
  },
  methods: {
    projectSubmit(){
      
    }
  } 
}
</script>

<style>
#NewProject {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:600px; 
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.text{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

</style>
