<template>
<!-- 添加项目新版本页面 -->
  <div id="NewProVersion">
    <h2>添加项目新版本</h2>
    <hr>
    <br>
    <!-- 项目测试名 -->
    <el-row>
      <el-col :span="6"><div class="text">测试项目名：</div></el-col>
      <el-col :span="18">
          <div>
              <el-select class="selectWidth" v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
              </el-select>   
          </div>
      </el-col>
    </el-row>
    
    <!-- 版本号 -->
    <el-row>
      <el-col :span="6"><div class="text">版本号：</div></el-col>
      <el-col :span="18"><div><el-input v-model="version"></el-input></div></el-col>
    </el-row>

    <!-- 提交系统war包 -->
    <el-row>
      <el-col :span="6"><div class="text">提交系统war包：</div></el-col>
      <el-col :span="18"><div><el-input v-model="warPkg" placeholder=".war"></el-input></div></el-col>
    </el-row>

    <!-- 测试用例库地址 -->
    <el-row>
      <el-col :span="6"><div class="text">测试用例库地址：</div></el-col>
      <el-col :span="18"><div><el-input v-model="address" placeholder=".git"></el-input></div></el-col>
    </el-row>

    <!-- 项目部署地址列表 -->
    <el-row>
      <el-col :span="6"><div style="text-align:center">项目部署地址列表：</div></el-col>
      <el-col :span="18">
          <div>
              <el-input
                type="textarea"
                :rows="6"
                v-model="textarea">
              </el-input>
         </div>
      </el-col>
    </el-row>  
    
    <br>
    <!-- 更新按钮 -->
    <div>
      <el-button type="primary" @click="versionUpdate">更 新</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      version: '',
      warPkg: '',
      address: '',
      textarea: '',
      options: [{
          value: '选项1',
          label: '营销管理系统'
        }, {
          value: '选项2',
          label: '生产管理系统'
        },{
          value: '选项3',
          label: '资产管理系统'
        },{
          value: '选项4',
          label: '财务管理系统',
        },{
          value: '选项5',
          label: '人资管理系统',
        }],
      value: '选项1'
      }
  },
  methods: {
    versionUpdate(){
      
    }
  } 
}
</script>

<style>
#NewProVersion {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:600px;
}

.el-row {
    margin-bottom: 20px; 
}

.el-col {
    border-radius: 4px;
}

.text{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.selectWidth{
  width: 450px;
}

</style>
