<template>
<!-- 配置测试服务器页面 -->
  <div id="TestServer">
    <h2>配置测试服务器</h2>
    <hr>
    <br>
    <!-- 测试服务器hub地址 -->
    <el-row>
      <el-col :span="8"><div class="text">测试服务器hub地址：</div></el-col>
      <el-col :span="12"><div><el-input v-model="hubAddress"></el-input></div></el-col>
    </el-row>
    
    <!-- 测试服务器node地址列表 -->
    <el-row>
      <el-col :span="8"><div class="text">测试服务器node地址列表：</div></el-col>
      <el-col :span="12"><div><el-input v-model="nodeAddressList"></el-input></div></el-col>
      <el-col :span="4"><div><el-button type="primary" icon="el-icon-plus" circle></el-button></div></el-col>
    </el-row>
    
    <!-- Webdriver -->
    <el-row>
      <el-col :span="8"><div class="text">Webdriver：</div></el-col>
      <el-col :span="12">
          <div>
              <el-select class="select" v-model="value" placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
              </el-select>   
          </div>
      </el-col>
    </el-row>   
    <br>

    <!-- 保存按钮 -->
    <div>
      <el-button type="primary" @click="serverSave">保 存</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      hubAddress: '',
      nodeAddressList: '',
      options: [{
          value: '选项1',
          label: 'IE'
        }, {
          value: '选项2',
          label: 'chrome'
        },{
          value: '选项3',
          label: 'firefox'
        }],
      value: '选项1'
      }
  },
  methods: {
    serverSave(){
      
    }
  } 
}
</script>

<style>
#TestServer {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:600px;
  
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.text{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.select{
  width: 300px;
}

</style>
