<template>
<!-- 项目列表页面 -->
  <div id="ProjectList">
    <h2>项目列表</h2>
    <hr>
    <br>

    <!-- 项目表格 -->
    <el-table
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
            prop="name"
            label="测试项目名"
            width="300">
        </el-table-column>
        <el-table-column
            prop="version"
            label="版本号"
            width="300">
        </el-table-column>
        <el-table-column
            prop="taskNum"
            label="任务数">
        </el-table-column>
    </el-table>
   
    <br>
    <el-row type="flex" justify="space-between">
      <!-- 新建项目按钮 -->
      <el-col :span="4">
          <div>
              <el-button type="primary" @click="newProject" class="btnCss">新建项目</el-button>
          </div>
     </el-col>
     
     <!-- 添加新版本按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="newProVersion" class="btnCss">添加新版本</el-button>
          </div>
     </el-col>
     
     <!-- 删除项目按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="deleteProject" class="btnCss">删除项目</el-button>
          </div>
     </el-col>
    
     <!-- 查看项目任务按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="viewProTask" class="btnCss">查看项目任务</el-button>
          </div>
     </el-col>

     <!-- 综合质量评估管理 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="qualityEvaManage" class="btnCss">综合质量评估管理</el-button>
          </div>
     </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
          name: '项目1',
          version: '5.5',
          taskNum: '8'
        }, {
          name: '项目2',
          version: '6.5',
          taskNum: '5'
        }, {
          name: '项目3',
          version: '7.5',
          taskNum: '10'
        }, {
          name: '项目4',
          version: '8.5',
          taskNum: '9'
        }]
      }
  },
  methods: {
      newProject(){
          this.$router.push({path: '/3_NewProject'})
      },
      newProVersion(){
          this.$router.push({path: '/4_NewProVersion'})
      },
      deleteProject(){

      },
      viewProTask(){
         this.$router.push({path: '/11_ViewTask'})
      },
      qualityEvaManage(){
         this.$router.push({path: '/16_QualityRepConf'})
      }
  }
}
</script>

<style>
#ProjectList {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:900px; 
}

.el-row {
    margin-bottom: 20px; 
}

.el-col {
    border-radius: 4px;
}

.btnCss{
    width: 155px;
}

</style>
