<template>
<!-- 测试项目名+版本页面 -->
  <div id="ProNameVer">
    <h2>测试项目名+版本</h2>
    <hr>
    <br>
    <!-- 任务列表 -->
    <el-table
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
            prop="taskID"
            label="任务id"
            width="100">
        </el-table-column>
        <el-table-column
            prop="taskName"
            label="任务名"
            width="100">
        </el-table-column>
        <el-table-column
            prop="date"
            label="执行日期"
            width="200">
        </el-table-column>
        <el-table-column
            prop="caseNum"
            label="用例数"
            width="100">
        </el-table-column>
        <el-table-column
            prop="issue"
            label="#issues"
            width="250">
        </el-table-column>
        <el-table-column
            prop="taskStatus"
            label="任务状态"
            width="100">
        </el-table-column>
        <el-table-column
            prop="testReport"
            label="测试报告"
            width="150">
        </el-table-column>
    </el-table>
   
    <br>
    <el-row type="flex" justify="space-between">
      <!-- 新建任务按钮 -->
      <el-col :span="4">
          <div>
              <el-button type="primary" @click="newTask" class="btnCss">新建任务</el-button>
          </div>
     </el-col>
     
     <!-- 关闭任务按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="closeTask" class="btnCss">关闭任务</el-button>
          </div>
     </el-col>
     
     <!-- 查看任务按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="viewTask" class="btnCss">查看任务</el-button>
          </div>
     </el-col>

     <!-- 查看历史执行按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="viewTaskExecution" class="btnCss">查看历史执行</el-button>
          </div>
     </el-col>

     <!-- 执行任务按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="performTest" class="btnCss">执行任务</el-button>
          </div>
     </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
          taskID: '1',
          taskName: '5',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告1.doc'
        },{
          taskID: '2',
          taskName: '5',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告1.doc'
        },{
          taskID: '3',
          taskName: '5',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告1.doc'
        },{
          taskID: '4',
          taskName: '5',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告1.doc'        
        }]
      }
  },
  methods: {
    newTask(){
       this.$router.push({path: '/9_NewTask'})
    },
    closeTask(){
       
    },
    viewTask(){
      this.$router.push({path: '/11_ViewTask'})
    },
    viewTaskExecution(){
      this.$router.push({path: '/8_TaskExecution'})
    },
    performTest(){
      this.$router.push({path: '/10_PerformTest'})
    }
  } 
}
</script>

<style>
#ProNameVer {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:1000px;
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.btnCss{
    width: 155px;
}

</style>
