<template>
<!-- 任务历史执行页面 -->
  <div id="TaskExecution">
    <h2>任务历史执行</h2>
    <hr>
    <br>
     <h3 class="taskName">任务名</h3>
     <br>
     <!-- 任务表格 -->
     <el-table
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
            prop="taskID"
            label="任务id"
            width="100">
        </el-table-column>
        <el-table-column
            prop="date"
            label="执行日期"
            width="200">
        </el-table-column>
        <el-table-column
            prop="caseNum"
            label="执行用例数"
            width="150">
        </el-table-column>
        <el-table-column
            prop="issue"
            label="#issues"
            width="250">
        </el-table-column>
        <el-table-column
            prop="taskStatus"
            label="任务状态"
            width="100">
        </el-table-column>
        <el-table-column
            prop="testReport"
            label="测试报告"
            width="200">
        </el-table-column>
    </el-table>
   
    <br>
    <el-row type="flex" justify="end">
      <!-- 关闭任务按钮 -->
      <el-col :span="4">
          <div>
              <el-button type="primary" @click="closeTask" class="btnWidth">关闭任务</el-button>
          </div>
     </el-col>

     <!-- 删除任务按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="deleteTask" class="btnWidth">删除任务</el-button>
          </div>
     </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
          taskID: '1',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告1.doc'
        },{
          taskID: '2',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告1.doc'
        },{
          taskID: '3',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告3.doc'
        },{
          taskID: '4',
          date: '2020-3-25',
          caseNum: '90',
          issue: '无',
          taskStatus: '已完成',
          testReport: '测试报告2.doc'
        }]
      }
  },
  methods: {
    closeTask(){

    },
    deleteTask(){
      
    }
  } 
}
</script>

<style>
#TaskExecution {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:1000px;
}

.el-row {
    margin-bottom: 20px;  
}

.el-col {
    border-radius: 4px;
}

.btnWidth{
    width: 120px;
}

.taskName{
    text-align: left;
    margin-left:10px;
}

</style>
