<template>
<!-- 新建任务页面 -->
  <div id="NewTask">
    <h2>新建任务</h2>
    <hr>
    <br>
    <!-- 任务id -->
    <el-row>
      <el-col :span="6"><div class="text">任务id：</div></el-col>
      <el-col :span="6"><div class="text alignLeft">12345</div></el-col>
    </el-row>
    
    <!-- 任务名 -->
    <el-row>
      <el-col :span="6"><div class="text">任务名：</div></el-col>
      <el-col :span="18"><div><el-input v-model="taskName"></el-input></div></el-col>
    </el-row>

    <!-- 任务描述 -->
    <el-row>
      <el-col :span="6"><div style="text-align:center">任务描述：</div></el-col>
      <el-col :span="18">
          <div>
              <el-input
                type="textarea"
                :rows="4"
                placeholder="请输入内容"
                v-model="textarea">
              </el-input>
         </div>
      </el-col>
    </el-row>

    <el-row type="flex" justify="space-around">
      <!-- 导入测试用例按钮 -->
      <el-col :span="4">
          <div>
              <el-button type="primary" @click="importTestCases">导入测试用例</el-button>
          </div>
     </el-col>
     
     <!-- 选择测试用例按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="selectTestCases">选择测试用例</el-button>
          </div>
     </el-col>

     <!-- 保存任务信息按钮 -->
     <el-col :span="4">
          <div>
              <el-button type="primary" @click="saveTaskInfo">保存任务信息</el-button>
          </div>
     </el-col>
    </el-row>

    <div class="alignLeft">测试用例集合</div>
    <br>
    
    <!-- 测试用例集合框 -->
    <div class="collectionStyle">
      <el-tree :data="data" :props="defaultProps"></el-tree>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      taskName: '',
      textarea: '',
      data: [{
          label: 'Use f for closed folders',
          children: [{
            label: '二级 1-1',
            children: [{
              label: '三级 1-1-1'
            }]
          }]
        }, {
          label: 'Use F for open folders',
          children: [{
            label: '二级 2-1',
            children: [{
              label: '三级 2-1-1'
            }]
          }, {
            label: '二级 2-2',
            children: [{
              label: '三级 2-2-1'
            }]
          }]
        }, {
          label: 'You may also use this',
          children: [{
            label: '二级 3-1',
            children: [{
              label: '三级 3-1-1'
            }]
          }, {
            label: '二级 3-2',
            children: [{
              label: '三级 3-2-1'
            }]
          }]
        }],
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      };
    },
    methods: {
      importTestCases(){

      },
      selectTestCases(){

      },
      saveTaskInfo(){
        
      }
    }
  };

</script>

<style>
#NewTask {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:600px; 
}

.el-row {
    margin-bottom: 30px;  
}

.el-col {
    border-radius: 4px;
}

.text{
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.alignLeft{
    text-align: left;
}

.collectionStyle{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    width: 600px;
    height: 200px;
}
  
</style>
