<template>
  <!-- 质量数据配置项页面 -->
  <div id="QualityDataConf">
    <h2 style="text-align:center">质量数据配置项</h2>
    <!-- Functional completness  -->
    <el-form ref="postForm" label-position="left" :model="postForm" :rules="rules">
      <el-form-item label="Functional completeness">
        <el-switch
          v-model="switchValue"
          active-color="#13ce66"
          inactive-color="#ff4949"
        />
      </el-form-item>
      <div class="contentDiv">
        <el-form-item label-width="100px" label="度量项含义" style="margin-top:10px">
          <el-input v-model="dlxhy" placeholder="默认" />
        </el-form-item>

        <el-form-item label-width="100px" label="数据源" style="margin-top:20px">
          <el-input v-model="dlxhy" />
        </el-form-item>

        <el-form-item label-width="100px" label="数据格式" style="margin-top:20px">
          <el-select v-model="value" placeholder="请选择" style="width:100%">
            <el-option label="JSON" value="json" />
            <el-option label="xml" value="xml" />
          </el-select>
        </el-form-item>

        <el-form-item label-width="100px" label="计算脚本" style="margin-top:20px">
          <el-input v-model="dlxhy" placeholder="默认（处理数据源数据）" />
        </el-form-item>

        <el-form-item label-width="100px" label="手工录入" style="margin-top:20px">
          <el-input v-model="dlxhy" />
        </el-form-item>
      </div>
    </el-form>
    <div style="text-align:center">
      <el-button type="primary" @click="verify">验证</el-button>
      <el-button type="primary" style="margin-left:60px" @click="saveConf">保存</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      switchValue: '',
      dlxhy: '',
      dataSource: '',
      calcuScript: '',
      manualEnter: '',
      options: [{
        value: '选项1',
        label: 'Json'
      }, {
        value: '选项2',
        label: 'xml'
      }, {
        value: '选项3',
        label: 'xxx'
      }, {
        value: '选项4',
        label: 'xxx'
      }, {
        value: '选项5',
        label: 'xxx'
      }],
      value: ''

    }
  },
  methods: {
    verify() {

    },

    saveConf() {

    }
  }
}
</script>

<style lang="scss" scoped>
#QualityDataConf {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
//   text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 90%;
}

.contentDiv{
  border: 1px solid rgb(207, 207, 207);
  border-radius: 4px;
  padding:20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
</style>
