<template>
  <div class="dashboard-container">
    <div class="dashboard-text">· 项目概览信息</div>
    <div class="chart-wrapper">
      <pro-bar-chart />
    </div>
    <br>

    <div class="dashboard-text">· 版本信息</div>
    <div class="chart-wrapper">
      <ver-bar-chart />
    </div>
    <br>

    <div class="dashboard-text">· 服务器信息</div>
    <server-table />
  </div>
</template>

<script>
import ProBarChart from './admin/components/ProBarChart'
import VerBarChart from './admin/components/VerBarChart'
import ServerTable from './admin/components/ServerTable'

export default {
  name: 'Dashboard',
  components: {
    ProBarChart,
    VerBarChart,
    ServerTable
  },
  data() {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
    position: relative;
  }
  &-text {
      width: 300px;
      padding: 30px;
      font: bold 25px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;;
      color: rgb(105, 102, 102);
      text-transform: uppercase;
  }
  .chart-wrapper{
    width: 100%;
  }
}
</style>
