<template>
  <!-- 质量报告配置页面 -->
  <div id="QualityRepConf">
    <h2>质量报告配置</h2>
    <br>
    <el-form ref="postForm" label-position="left" :model="postForm" :rules="rules">
      <el-row type="flex" justify="space-between">
        <el-col :span="7">
          <el-form-item
            label="系统"
            label-width="45px"
          >
            <el-select v-model="value1" placeholder="选择系统">
              <el-option
                v-for="item in options1"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-form-item
            label="版本"
            label-width="45px"
          >
            <el-select v-model="value1" placeholder="选择版本">
              <el-option
                v-for="item in options1"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="5">
          <el-form-item
            label="项目"
            label-width="45px"
          >
            <el-select v-model="value1" placeholder="所有">
              <el-option
                v-for="item in options1"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="5">
          <el-form-item
            label="任务"
            label-width="45px"
          >
            <el-select v-model="value1" placeholder="所有">
              <el-option
                v-for="item in options1"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item label="客观数据" label-width="80px">
        <el-tree
          :data="data"
          show-checkbox
          node-key="id"
          default-expand-all
          :expand-on-click-node="false"
          class="dataDiv"
        >
          <span slot-scope="{ node }">
            <span>{{ node.label }}</span>
            <span>w.____</span>
          </span>
        </el-tree>
      </el-form-item>

      <el-form-item label="主观评价" label-width="80px">
        <el-input
          v-model="textarea"
          type="textarea"
          :rows="6"
          placeholder="请输入内容"
        />
      </el-form-item>
    </el-form>
    <div>
      <el-button type="primary" style="width:150px" @click="generateWeb">生成Web页面</el-button>
      <el-button type="primary" style="width:150px;margin-left:50px" @click="generatePDF">生成PDF</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    const data = [{
      id: 1,
      label: 'Functional Suitability',
      children: [{
        id: 4,
        label: 'Functional completeness'
      }, {
        id: 5,
        label: 'Functional correctness'
      }]
    }, {
      id: 2,
      label: 'Performance efficiency',
      children: [{
        id: 6,
        label: 'Time- behavior'
      }, {
        id: 7,
        label: 'Resource utilization'
      }]
    }, {
      id: 3,
      label: 'Maintainability'
    }]
    return {
      data: JSON.parse(JSON.stringify(data)),
      textarea: ''
    }
  },
  methods: {
    generateWeb() {

    },
    generatePDF() {

    }
  }
}
</script>

<style>

#QualityRepConf {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding-top:15px; padding-bottom:25px; padding-left:35px; padding-right:35px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 90%;
}

.dataDiv{
  border: 1px solid rgb(219, 216, 216);
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  overflow: auto;
  height:200px;
}

</style>
